<header><div class="container-fluid bg-color  ">
    <div class="row">
        <div class="col-md-12 mx-auto  text-center mt-5">
            <div class="avatar mt-5 pt-5 w-100">
                <img src="../../assets/imges/avataaars.svg" class="w-25  mt-5"  alt="avater">
            </div>
            <div class="header-info">
                <h1 class="fs-1 fw text-white size mt-5  " >START ANGULAR</h1>
                <div class="content-under-header position-relative mt-3">
                    <p class="lines">
                      <i class="fa-solid fa-star fa-2x text-white  "></i>
                    </p>
                  </div>
                  
              <h5 class="mt-3 py-2 text-white">Graphic Artist - Web Designer - Illustrator</h5>
            </div>
        </div>
    </div>
</div></header>