.primary-bg-color {
    background-color: #1bbc9b;
  }
  
  .lines {
    position: relative;
    color: white !important;
  }
  .main-color {
    color: white;
  }
  
  .lines::before {
    position: absolute;
    content: "";
    top: 50%;
    left: 53%;
    height: 4px;
    width: 100px;
    background-color: white;
  }
  .lines::after {
    position: absolute;
    content: "";
    top: 50%;
    right: 53%;
    height: 4px;
    width: 100px;
    background-color: white;
  }
  