
   <div class="col-md-12  text-center mt-5 fw-bolder fs-1 size">
    <div class="contact-header">
        <h1>CONTACT</h1>
        <div class="content-under-header position-relative mt-3">
            <p class="lines">
              <i class="fa-solid fa-star"></i>
            </p>
          </div>
    </div>
</div>


<div class="contacts py-4">
    <div class="container w-75">
      <form action="">
        <div class="form-floating mb-3">
          <input
            type="text"
            class="form-control border-bottom"
            id="Name"
            placeholder="Ahmed Mohamed"
          />
          <label for="Name">Name</label>
        </div>
        <div class="form-floating mb-3">
          <input
            type="email"
            class="form-control border-bottom"
            id="Email"
            placeholder="name@example.com"
          />
          <label for="Email">Email address</label>
        </div>
        <div class="form-floating mb-3">
          <input
            type="text"
            class="form-control border-bottom"
            id="Phone"
            placeholder="0111111111"
          />
          <label for="Phone">Phone</label>
        </div>
        <div class="form-floating">
          <textarea
            class="form-control border-bottom"
            placeholder="Leave a comment here"
            id="floatingTextarea"
            style="height: 200px"
          ></textarea>
          <label for="floatingTextarea2">Message</label>
        </div>
        <button class="btn mt-4">Send</button>
      </form>
    </div>
  </div>
